{
	"servers": {
		"moos-primary": {
			"type": "sse",
			"url": "http://localhost:8080/sse"
		},
		"moos-menno": {
			"type": "sse",
			"url": "http://localhost:9001/sse"
		},
		"moos-lola": {
			"type": "sse",
			"url": "http://localhost:9002/sse"
		},
		"moos-moos": {
			"type": "sse",
			"url": "http://localhost:9003/sse"
		}
	}
}
