{
  "access_token": "ya29.example",
  "refresh_token": "1//example",
  "scope": "https://www.googleapis.com/auth/calendar.events",
  "token_type": "Bearer",
  "expires_at": "2026-05-06T19:00:00Z",
  "obtained_at": "2026-05-06T18:00:00Z"
}